<mat-card *ngIf="messageService.messages.length">
  <mat-card-content>
    <div #div class="error-window">
      <p #p *ngFor="let message of messageService.messages">
        <app-compilation-error-message *ngIf="messageIsCompilationErrorMessage(message)" [compilationErrorMessage]="message"></app-compilation-error-message>
        <app-runtime-error-message *ngIf="messageIsRuntimeErrorMessage(message)" [runtimeErrorMessage]="message"></app-runtime-error-message>
        <app-logging-message *ngIf="messageIsLoggingMessage(message)" [loggingMessage]="message"></app-logging-message>
      </p>
    </div>
  </mat-card-content>
  <mat-divider></mat-divider>
  <mat-card-actions>
    <button name="clearMessagesButton" mat-raised-button (click)="messageService.clear()">clear</button>
  </mat-card-actions>
</mat-card>
