<h1 mat-dialog-title>About Jeroo</h1>
<div mat-dialog-content>
  <p>
      Jeroo version 0.0.4
        Built with Angular

      Jeroo Homepage
        http://www.jeroo.org/beta
      
      Jeroo development has taken place at:
        Northwest Missouri State University
        University of Hartford
        University of Nebraska at Omaha
      
      The Jeroo Team:
        Ben Konz
        Caelan Bryan
        Thomas Connole
        John Adam
        Dean sanders
        Brian Dorn
        Christina Shell (art work)
      
      Send comments and suggestions to:
        support@jeroo.org
  </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>