<h1 mat-dialog-title><b>About Jeroo</b></h1>
<div mat-dialog-content>
    <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxFlex="80">
            <div>
                <h4>Jeroo version 0.0.4</h4>
                <ul>
                  <li><p>Built with Angular</p></li>
                </ul>
              </div>
              <div>
                <h4>Jeroo Homepage</h4>
                <ul>
                  <li><a href="http://www.jeroo.org/beta">http://www.jeroo.org/beta</a></li>
                </ul>
              </div>
              <div>
                <h4>Jeroo development has taken place at:</h4>
                <ul>
                  <li><p>Northwest Missouri State University</p></li>
                  <li><p>University of Hartford</p></li>
                  <li><p>University of Nebraska at Omaha</p></li>
                </ul>
              </div>
              <div>
                <h4>The Jeroo Team:</h4>
                <ul>
                  <li><p>Ben Konz</p></li>
                  <li><p>Caelan Bryan</p></li>
                  <li><p>Thomas Connole</p></li>
                  <li><p>John Adam</p></li>
                  <li><p>Dean sanders</p></li>
                  <li><p>Brian Dorn</p></li>
                  <li><p>Christina Shell (art work)</p></li>
                </ul>
              </div>
              <div>
                <h4>Send comments and suggestions to:</h4>
                <ul>
                  <li><p>support@jeroo.org</p></li>
                </ul>
              </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Close</button>
</div>
