<h1 mat-dialog-title><b>Jeroo's History</b></h1>
<div mat-dialog-content>
  <div>
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
          <div fxFlex="20"><img src="/assets/JerooLogo.png" alt="Jeroo Logo"></div>
          <div fxFlex="80">
              <h4>Early 1970's -- LOGO Turtles</h4>
              <ul>
                <li><p>
                  Dr. Seymour papert of MIT had elementary students writing
                  programs to control the movements of turtle robots.
                </p></li>
              </ul>
              <h4>Late 1970's -- Karel The Robot</h4>
              <ul>
                <li><p>
                  Dr. Richard Pattis developed Karel the Robot as a learning tool.
                  Students write program to move Karel around his virtual world,
                  and have him interact with his environment.
                </p></li>
              </ul>
              <h4>1990 -- Jessica</h4>
              <ul>
                <li><p>
                  Lai Kwan Tong's master's project at Illinois State University
                  was Jessica, a derivative of Karel. Jessica introduced 
                  the metaphor and basic GUI layout that is used in Jeroo.
                  Jessica was used for several years at Illinois State.
                </p></li>
              </ul>
              <h4>1999-2001 -- The Snipe Project</h4>
              <ul>
                <li><p>
                  Student project teams at Northwest Missouri State University 
                  specifed and developed a full prototype for a java-based successor to Jessica.
                  Students:
                  &#09;Erman Ayvaz, Time Bell, Brian Dorn, Brett Graves, John Otte, Michael Parneley, Jolaine Zweifel
                  
                </p></li>
              </ul>
              <h4>2002 -- Jeroo</h4>
              <ul>
                <li><p>
                  Using the Snipe project as a starting point, Dean Sanders and 
                  Brian Dorn specified, designed, and implemented the first 
                  version of Jeroo. They are coninually revising and updating
                  Jeroo to meet the needs of the growing community of users.
                </p></li>
              </ul>
              <h4>2019 -- Jeroo Web</h4>
              <ul>
                <li><p>
                  Using the Jeroo project from 2002. Ben Konz, Calean Bryan, 
                  Thomas Connole, and John Adam have implemented the first version
                  of a web based Jeroo. New features such as editable board size 
                  have been added.
                </p></li>
              </ul>
          </div>
      </div>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Close</button>
</div>