<h1 mat-dialog-title>Editor Preferences</h1>
<mat-dialog-content [formGroup]="form">
  <div fxLayout="column" fxLayoutGap="10px">
    <div>
      <mat-form-field>
        <input type="number" matInput placeholder="Font Size" formControlName="fontSize">
        <mat-error>
          Value must be between 1 and 30
        </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label>Color Theme</mat-label>
        <mat-select formControlName="colorTheme">
          <mat-option *ngFor="let theme of colorThemes;" [value]="theme">
            {{theme | titlecase}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <mat-divider></mat-divider>
    <textarea #editor>Jeroo is a programming learning tool
for teachers and students!

abcdefghijklmnopqrstuvwxyz 0123456789 (){}[]
ABCDEFGHIJKLMNOPQRSTUVWXYZ +-*/= .,;:!? #&$%@|^</textarea>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
  <button type="submit" mat-raised-button [disabled]="!form || !form.valid" (click)="onSaveClick()">Save</button>
</mat-dialog-actions>
