<h1 mat-dialog-title>Change Matrix</h1>
<mat-dialog-content [formGroup]="form">
  <div class="dialog-container">
    <mat-form-field class="dialog-form">
      <input id="xValueInput" matInput placeholder="X Value: " formControlName="xValue">
      <mat-error>
        Value must be between 1 and 50
      </mat-error>
    </mat-form-field>
    <mat-form-field class="dialog-form">
      <input id="yValueInput" matInput placeholder="Y Value: " formControlName="yValue">
      <mat-error>
        Value must be between 1 and 50
      </mat-error>
    </mat-form-field>
  </div>
  Warning: Changing the Matrix Size will Clear the Board!
</mat-dialog-content>
<mat-dialog-actions>
  <button id="closeMatrixDialogButton" mat-raised-button color="primary" (click)="close()">Close</button>
  <button id="submitMatrixDialogButton" type="submit" mat-raised-button [disabled]="!form.valid" (click)="save()">Save</button>
</mat-dialog-actions>
