<h1 mat-dialog-title><b>Jeroo Copyright Notice</b></h1>
<div mat-dialog-content>
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="80">
                <b>Copyright 2002-2015 Dean Sanders, Brian Dorn</b>
                <ul>
                    <li><p>Jeroo is available free of charge and may be distributed freely. </p></li>
                    <li><p>
                        Without written permission, Jeroo may not be sold for profit,
                        nor included in packages that are sold for profit.
                    </p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()">Close</button>
</div>
