li {
    list-style-type: none;
}
.bordered {
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    border: 1px solid black;
    border-radius: 8px;
}
img {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility:    hidden;
    -ms-backface-visibility:     hidden;
}
.matrix {
    font-size: 0;
}
span {
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
    -o-user-select: none;
    user-select: none;
}