<div class=bordered>
  <mat-slider min="26" max="50" step="4" tickInterval="1" value="26"
   thumbLabel (input)="onInputChange($event)"></mat-slider>
  <img src="assets\images\grass.jpg" alt='G' (mousedown)="selectTile('G')">
  <img src="assets\images\water.jpg" alt='W' (mousedown)="selectTile('W')">
  <img src="assets\images\flower.jpg" alt='F' (mousedown)="selectTile('F')">
  <img src="assets\images\net.jpg" alt='N' (mousedown)="selectTile('N')">
  <img src="assets\images\clear.jpg" alt='C' (mousedown)="selectTile('C')">
</div>

<br>

<div style="font-size:0;" align=center>
<p>
  <li *ngFor="let rowBoard of jerooBoard; let row = index">
    <span *ngFor="let boardValue of rowBoard; let column = index">
      <span *ngIf="boardValue == 'W'">
          <img src="assets\images\water.jpg" [ngStyle]="{'max-width': getPixel()}" (mousedown)="onClick($event, row, column)" (mouseover)="onMouseOver($event, row, column)" (mouseup)="mouseUp()" />
      </span>
      <span *ngIf="boardValue == 'G'">
          <img src="assets\images\grass.jpg" [ngStyle]="{'max-width': getPixel()}" alt="G" (mousedown)="onClick($event, row, column)" (mouseover)="onMouseOver($event, row, column)" (mouseup)="mouseUp()" />
      </span>
      <span *ngIf="boardValue == 'F'">
        <img src="assets\images\flower.jpg" [ngStyle]="{'max-width': getPixel()}" alt="F" (mousedown)="onClick($event, row, column)" (mouseover)="onMouseOver($event, row, column)" (mouseup)="mouseUp()" />
      </span>
      <span *ngIf="boardValue == 'N'">
        <img src="assets\images\net.jpg" [ngStyle]="{'max-width': getPixel()}" alt="N" (mousedown)="onClick($event, row, column)" (mouseover)="onMouseOver($event, row, column)" (mouseup)="mouseUp()" />
      </span>
    </span>
  </li>
</p>
</div>

<div class=bordered>
  <h2 *ngIf="currentXLocation==(maxXSize - 1) || currentXLocation==-1 || currentYLocation==(maxYSize - 1) || currentYLocation==-1; else display_coor">
    Cursor Location: Off the Island
  </h2>
  <ng-template #display_coor><h2>Cursor Location: ({{currentYLocation}},{{currentXLocation}})</h2></ng-template>
</div>