<div class="d-flex justify-content-center">
    <mat-button-toggle-group #group="matButtonToggleGroup">
        <mat-button-toggle value="grass" matTooltip="Grass" (change)="selectedTileTypeChange($event.value)">
            <img src="assets/images/grass.jpg" alt='G'>
        </mat-button-toggle>
        <mat-button-toggle value="water" matTooltip="Water" (change)="selectedTileTypeChange($event.value)">
            <img src="assets/images/water.jpg" alt='W'>
        </mat-button-toggle>
        <mat-button-toggle value="flower" matTooltip="Flower" (change)="selectedTileTypeChange($event.value)">
            <img src="assets/images/flower.jpg" alt='F'>
        </mat-button-toggle>
        <mat-button-toggle value="net" matTooltip="Net" (change)="selectedTileTypeChange($event.value)">
            <img src=" assets/images/net.jpg" alt='N'>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>
<div class="d-flex justify-content-center">
    <canvas #jerooGameCanvas [className]="editingEnabled ? 'default-cursor' : 'not-allowed-cursor'" (mousedown)="canvasMouseDown($event)" (mouseup)="canvasMouseUp()" (mousemove)="canvasMouseMove($event)">
    </canvas>
</div>
<div class="d-flex justify-content-center">
    <div *ngIf="mouseRow !== null && mouseColumn !== null; else elseBlock">
        Cursor Location: ({{mouseColumn}}, {{mouseRow}})
    </div>
    <ng-template #elseBlock>
        Cursor off of map
    </ng-template>
</div>
<div class="d-flex justify-content-center">
    <button mat-button [disabled]="!editingEnabled" (click)="openDialog()">Change Size</button>
    <button mat-button [disabled]="!editingEnabled" (click)="clearMap()">Clear Map</button>
</div>
