<canvas name="jerooCanvas" #jerooGameCanvas [className]="editingEnabled ? 'jeroo-matrix default-cursor' : 'jeroo-matrix not-allowed-cursor'" (mousedown)="canvasMouseDown($event)" (mouseup)="canvasGestureUp()" (mousemove)="canvasMouseMove($event)" (touchstart)="canvasTapDown($event)" (touchend)="canvasGestureUp()" (touchmove)="canvasTapMove($event)" (panstart)="null">
</canvas>
<div fxLayout="column" fxLayoutAlign=" center" fxLayoutGap="10px">
  <div>
    <div *ngIf="mouseRow !== null && mouseColumn !== null; else elseBlock">
      Cursor Location: ({{mouseRow}}, {{mouseColumn}})
    </div>
    <ng-template #elseBlock>
      Cursor off of map
    </ng-template>
  </div>
  <div>
    <app-jeroo-status></app-jeroo-status>
  </div>
</div>
