mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

.menu-text {
  padding-left: 10px;
}

.shortcut-tip {
  float: right;
  color: #999999;
  padding-left: 10px;
}

.speed-radio-btn {
  pointer-events: none;
}

.jeroo-matrix-container {
  height: 600px;
}
