<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <mat-nav-list>
      <button mat-menu-item [matMenuTriggerFor]="file">Source File</button>
      <button mat-menu-item [matMenuTriggerFor]="edit">Source Edit</button>
      <button mat-menu-item [matMenuTriggerFor]="run">Run</button>
      <button mat-menu-item [matMenuTriggerFor]="speed">Run Speed</button>
      <button mat-menu-item [matMenuTriggerFor]="islandfile">Island File</button>
      <button mat-menu-item [matMenuTriggerFor]="help">Help</button>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <main>
      <!--Toolbar Area-->
      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="3px" fxHide.gt-sm>
            <button mat-icon-button (click)="sidenav.toggle()">
              <fa-icon icon="bars"></fa-icon>
            </button>
            <img src="assets/JerooLogo.png" alt="Jeroo Logo" />
          </div>
          <div fxLayout="row" fxLayoutAlign="none center" fxLayoutGap="3px" fxHide.lt-md>
            <img src="assets/JerooLogo.png" alt="Jeroo Logo" />
            <button id="sourceFileMenu" mat-button [matMenuTriggerFor]="file">Source File</button>
            <button id="sourceEditMenu" mat-button [matMenuTriggerFor]="edit">Source Edit</button>
            <button id="runMenu" mat-button [matMenuTriggerFor]="run">Run</button>
            <button id="runSpeedMenu" mat-button [matMenuTriggerFor]="speed">Run Speed</button>
            <button id="islandFileMenu" mat-button [matMenuTriggerFor]="islandfile">Island File</button>
            <button id="islandEditMenu" mat-button [matMenuTriggerFor]="islandEdit">Island Edit</button>
            <button id="helpMenu" mat-button [matMenuTriggerFor]="help">Help</button>
          </div>
        </mat-toolbar-row>
        <mat-toolbar-row fxHide.lt-md>
          <button mat-icon-button matTooltip="New File" [disabled]="!editorEditingEnabled()" (click)="onNewFileClick()">
            <fa-icon icon="file"></fa-icon>
          </button>
          <button mat-icon-button matTooltip="Open File" [disabled]="!editorEditingEnabled()" (click)="onOpenFileClick()">
            <fa-icon icon="folder"></fa-icon>
          </button>
          <button mat-icon-button matTooltip="Save" (click)="onSaveClick()">
            <fa-icon icon="save"></fa-icon>
          </button>
          <mat-divider [vertical]="true"></mat-divider>
          <button id="undoButton" mat-icon-button matTooltip="Undo" [disabled]="!editorEditingEnabled()" (click)="onUndoClick()">
            <fa-icon icon="undo"></fa-icon>
          </button>
          <button id="redoButton" mat-icon-button matTooltip="Redo" [disabled]="!editorEditingEnabled()" (click)="onRedoClick()">
            <fa-icon icon="redo"></fa-icon>
          </button>
          <mat-divider [vertical]="true"></mat-divider>
          <button id="resetButton" mat-icon-button matTooltip="Reset the program and the island" [disabled]="resetBtnDisabled()" (click)="onResetClick()">
            <fa-icon icon="step-backward"></fa-icon>
          </button>
          <button id="runButton" mat-icon-button matTooltip="Run the program step-by-step" [disabled]="runBtnDisabled()" (click)="onRunStepwiseClick()">
            <fa-icon icon="play"></fa-icon>
          </button>
          <button id="runContiniousButton" mat-icon-button matTooltip="Run the program continuously" [disabled]="runBtnDisabled()" (click)="onRunContiniousClick()">
            <fa-icon icon="step-forward"></fa-icon>
          </button>
          <button id="pauseButton" mat-icon-button matTooltip="Pause a currently running program" [disabled]="pauseBtnDisabled()" (click)="onPauseClick()">
            <fa-icon icon="pause"></fa-icon>
          </button>
          <button id="stopButton" mat-icon-button matTooltip="Stop a running program" [disabled]="stopBtnDisabled()" (click)="onStopClick()">
            <fa-icon icon="stop"></fa-icon>
          </button>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-slider id="speedSlider" class="menu-button" [(ngModel)]="speedIndex" (change)="onSpeedIndexChange()" min="1" max="6" tickInterval="1" thumbLabel></mat-slider>
          <mat-divider [vertical]="true"></mat-divider>
          <button id="newIslandButton" mat-icon-button matTooltip="Create new island layout" [disabled]="!matrixEditingEnabled()" (click)="clearMap()">
            <fa-icon icon="eraser"></fa-icon>
          </button>
          <button mat-icon-button matTooltip="Open an island file" [disabled]="!matrixEditingEnabled()" (click)="openMapFile()">
            <fa-icon icon="folder"></fa-icon>
          </button>
          <button mat-icon-button matTooltip="Save the island to a file" (click)="saveMapFile()">
            <fa-icon icon="save"></fa-icon>
          </button>
          <button mat-icon-button matTooltip="Print the island layout" (click)="printMap()">
            <fa-icon icon="print"></fa-icon>
          </button>
        </mat-toolbar-row>
      </mat-toolbar>
      <!-- Menu Properties -->
      <mat-menu #file="matMenu">
        <ng-template matMenuContent>
          <button mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onNewFileClick()">
            <fa-icon icon="file"></fa-icon><span class="menu-text">New</span><span class="shortcut-tip">Ctrl+N</span>
          </button>
          <button mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onOpenFileClick()">
            <fa-icon icon="folder"></fa-icon><span class="menu-text">Open</span><span class="shortcut-tip">Ctrl+O</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onSaveClick()">
            <fa-icon icon="save"></fa-icon><span class="menu-text">Save</span><span class="shortcut-tip">Ctrl+S</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onPrintClick()">
            <fa-icon icon="folder-open"></fa-icon><span class="menu-text">Print</span><span class="shortcut-tip">Ctrl+P</span>
          </button>
        </ng-template>
      </mat-menu>
      <mat-menu #edit="matMenu">
        <ng-template matMenuContent>
          <button id="undoMenuItem" mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onUndoClick()">
            <fa-icon icon="undo"></fa-icon><span class="menu-text">Undo Last Edit</span><span class="shortcut-tip">Ctrl+Z</span>
          </button>
          <button id="redoMenuItem" mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onRedoClick()">
            <fa-icon icon="redo"></fa-icon><span class="menu-text">Redo Last Undo</span><span class="shortcut-tip">Ctrl+Shift+Z</span>
          </button>
          <mat-divider></mat-divider>
          <button id="commentMenuItem" mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onToggleCommentLines()">Comment Lines<span class="shortcut-tip">Ctrl+/</span></button>
          <mat-divider></mat-divider>
          <button id="formatMenuItem" mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onFormatSelectionClick()">Format Selection<span class="shortcut-tip">Ctrl+Shift+F</span></button>
          <button id="indentMenuItem" mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onIndentSelectionClick()">Indent Selection<span class="shortcut-tip">Tab</span></button>
          <button id="unindentMenuItem" mat-menu-item [disabled]="!editorEditingEnabled()" (click)="onUnindentSelectionClick()">Un-Indent Selection<span class="shortcut-tip">Shift+Tab</span></button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="onEditorPreferenceClick()">Set Preferences</button>
        </ng-template>
      </mat-menu>
      <mat-menu #run="matMenu">
        <ng-template matMenuContent>
          <button id="resetMenuItem" mat-menu-item [disabled]="resetBtnDisabled()" (click)="onResetClick()">
            <fa-icon icon="step-backward"></fa-icon><span class="menu-text">Reset<span class="shortcut-tip">F2</span></span>
          </button>
          <button id="runMenuItem" mat-menu-item [disabled]="runBtnDisabled()" (click)="onRunStepwiseClick()">
            <fa-icon icon="play"></fa-icon><span class="menu-text">Run Stepwise<span class="shortcut-tip">F3</span></span>
          </button>
          <button id="runContiniousMenuItem" mat-menu-item [disabled]="runBtnDisabled()" (click)="onRunContiniousClick()">
            <fa-icon icon="step-forward"></fa-icon><span class="menu-text">Run Continuously<span class="shortcut-tip">F4</span></span>
          </button>
          <button id="pauseMenuItem" mat-menu-item [disabled]="pauseBtnDisabled()" (click)="onPauseClick()">
            <fa-icon icon="pause"></fa-icon><span class="menu-text">Pause<span class="shortcut-tip">F5</span></span>
          </button>
          <button id="stopMenuItem" mat-menu-item [disabled]="stopBtnDisabled()" (click)="onStopClick()">
            <fa-icon icon="stop"></fa-icon><span class="menu-text">Stop Run<span class="shortcut-tip">F6</span></span>
          </button>
        </ng-template>
      </mat-menu>
      <mat-menu #speed="matMenu">
        <ng-template matMenuContent>
          <mat-radio-group id="speedIndex" [(ngModel)]="speedIndex">
            <div mat-menu-item *ngFor="let speed of speedsRadio; let i = index" id="speed{{i + 1}}Btn" (click)="onSpeedRadioClick(speed.value)">
              <mat-radio-button class="speed-radio-btn" [value]="speed.value">{{ speed.name }}</mat-radio-button>
            </div>
          </mat-radio-group>
        </ng-template>
      </mat-menu>
      <mat-menu #islandfile="matMenu">
        <ng-template matMenuContent>
          <button id="newMapMenuItem" mat-menu-item [disabled]="!matrixEditingEnabled()" (click)="clearMap()">
            <fa-icon icon="eraser"></fa-icon><span class="menu-text">New<span class="shortcut-tip">Ctrl+Shift+N</span></span>
          </button>
          <button mat-menu-item [disabled]="!matrixEditingEnabled()" (click)="openMapFile()">
            <fa-icon icon="folder"></fa-icon><span class="menu-text">Open<span class="shortcut-tip">Ctrl+Shift+O</span></span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="saveMapFile()">
            <fa-icon icon="save"></fa-icon><span class="menu-text">Save<span class="shortcut-tip">Ctrl+Shift+S</span></span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="printMap()">
            <fa-icon icon="print"></fa-icon><span class="menu-text">Print<span class="shortcut-tip">Ctrl+Shift+P</span></span>
          </button>
        </ng-template>
      </mat-menu>
      <mat-menu #islandEdit="matMenu">
        <ng-template matMenuContent>
          <button id="changeMapSize" mat-menu-item [disabled]="!matrixEditingEnabled()" (click)="changeMapSize()">
            <span class="menu-text">Change Map Size</span>
          </button>
        </ng-template>
      </mat-menu>
      <mat-menu #help="matMenu">
        <ng-template matMenuContent>
          <a mat-menu-item routerLink="{{getHelpUrl()}}" target="_blank"><span>Langauge Summary<span class="shortcut-tip">F8</span></span></a>
          <mat-divider ></mat-divider>
          <a mat-menu-item routerLink="{{getTutorialUrl()}}" target="_blank"><span>Getting Started Tutorial</span></a>
          <mat-divider></mat-divider>
          <a mat-menu-item href="http://jeroo.org" target="_blank">Jeroo Home Page</a>
          <mat-divider></mat-divider>
          <a id="aboutMenuItem" mat-menu-item (click)="openAboutJeroo()">About Jeroo</a>
          <a id="awardsMenuItem" mat-menu-item (click)="openAwards()">Awards Received</a>
          <a id="historyMenuItem" mat-menu-item (click)="openHistory()">Jeroo's History</a>
          <a id="copyrightMenuItem" mat-menu-item (click)="openCopyright()">Copyright Notice</a>
        </ng-template>
      </mat-menu>
      <!--Text tabs Area-->
      <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
        <div fxFlex="60">
          <app-editor-tab-area #jerooEditor [(editorState)]="jerooEditorState" [speed]="runtimeSpeed"></app-editor-tab-area>
        </div>
        <!--Matrix Area-->
        <div class="jeroo-matrix-container" fxFlex="40">
          <app-jeroo-matrix id="jerooMatrix" #jerooMatrix [editingEnabled]="matrixEditingEnabled()"></app-jeroo-matrix>
        </div>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>
<!-- map file input -->
<input #mapFileInput class="invisible" type="file" file-accept="jev" (change)="mapFileSelected($event.target.files[0])" />
<!-- code file input -->
<input #codeFileInput class="invisible" type="file" file-accept="jsc" (change)="codeFileSelected($event.target.files[0])" />
<!-- file saver input -->
<a #fileSaver class="invisible"></a>
