.menu-button {
  margin-left: 5px;
  margin-right: 5px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

mat-divider {
  height: 24px;
  margin-left: 8px;
  margin-right: 8px;
}

.menu-text {
  padding-left: 10px;
}

.shortcut-tip {
  float: right;
  color: #999999;
  padding-left: 10px;
}

.speed-radio-btn {
  pointer-events: none;
}

.jeroo-matrix-container {
  height: 600px;
}
