.method-code {
  height: 450px;
  width: 100%;
}

.menu-button {
  margin-left: 5px;
  margin-right: 5px;
}

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}
mat-sidenav {
  width: 250px;
}
