@import '~@angular/material/theming';
@include mat-core();

$jeroo-theme-primary: mat-palette($mat-orange);
$jeroo-theme-accent: mat-palette($mat-green);
$jeroo-theme: mat-light-theme($jeroo-theme-primary, $jeroo-theme-accent);

@include angular-material-theme($jeroo-theme);
