@import '~@angular/material/theming';

@include mat-core();

$jeroo-theme-primary: mat-palette($mat-amber, 700, 600, 800);
$jeroo-theme-accent: mat-palette($mat-light-blue, A200, A100, A400);
$jeroo-theme: mat-light-theme($jeroo-theme-primary, $jeroo-theme-accent);

@include angular-material-theme($jeroo-theme);
