@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/darcula.css';
@import '~codemirror/theme/monokai.css';
@import '~codemirror/theme/solarized.css';
@import '~codemirror/theme/neat.css';
@import '~codemirror/theme/the-matrix.css';

html, body {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

// used by codemirror for line highlighting
.activeline-highlight {
  background: rgb(230, 238, 255);
}

.errorline-highlight {
  background: rgb(255, 230, 230);
}

// hide the main display while printing
@media print {
  app-root > * {
    display: none;
  }

  .mat-menu-content {
    display: none;
  }

  app-root app-print-layout {
    display: block;
  }
}


.CodeMirror {
  border: 1px solid #eee;
}

.invisible {
  display: none;
}
