<h1 mat-dialog-title><b>Jeroo's Awards</b></h1>
<div mat-dialog-content>
    <div>
        <div fxLayout="row" fxLayout.xs="column" fxLayout.sm="column">
            <div fxFlex="80">
                <b>2004 Premier Award for Excellence in Engineering Education Courseware</b>
                <ul>
                    <li><p>
                        Candidates for this award undergo a rigorous evaluation
                        by a jury that consists of professors, content experts,
                        instructional designers, students, and publishers.
                        This award is based on three broad categories:
                        instructional design, software design, and content.
                    </p></li>
                    <li><p>More inormation about the Premier Award at <a href="http://www.needs.org">www.needs.org</a></p></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCloseClick()">Close</button>
</div>
